version: '3.8'

services:
    app:
        container_name: ${CONTAINER_NAME} # Nombre del contenedor: ${IMAGE_NAME}
        image: ${IMAGE_NAME}:${VERSION}  # Usar la variable IMAGE_NAME del archivo .env
#        build:
#            context: .
#            dockerfile: Dockerfile
        ports:
            - "${PORT}:8080"  # Usar la variable PORT del archivo .env
        environment:
            SPRING_PROFILES_ACTIVE: "${SPRING_PROFILE}"  # Usar la variable SPRING_PROFILE del archivo .env
            NEXTCLOUD_PASSWORD: "${NEXTCLOUD_PASSWORD}" # Usar la variable NEXTCLOUD_KEY del archivo .env
            DB_URL: "${DB_URL}" # Usar la variable DB_URL del archivo .env
            DB_USERNAME: "${DB_USERNAME}" # Usar la variable DB_USERNAME del archivo .env
            DB_PASSWORD: "${DB_PASSWORD}" # Usar la variable DB_PASSWORD del archivo .env
            MEDIA_DIR: "${MEDIA_DIR}" # Usar la variable MEDIA_DIR del archivo .env
        restart: always
        logging:
            driver: "loki"
            options:
                loki-url: "http://192.168.68.195:3100/loki/api/v1/push"
